<template name="Home">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="well">
          <a><h2>Students</h2></a>
          <p>Create a profile and connect with other students.</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="well">
          <a><h2>Buy Orders</h2></a>
          <p>Looking for a used book? List it here. We'll help find a seller.</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="well">
          <a><h2>Matches</h2></a>
          <p>We'll scour our database for potential buyers and sellers.</p>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="well">
          <a><h2>Text Books</h2></a>
          <p>View our books. If you don't see what you need, add it!</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="well">
          <a><h2>Sell Orders</h2></a>
          <p> Got a used textbook to sell? List it here. We'll help find a buyer.</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="well">
          <a><h2>Help</h2></a>
          <p>Got a question about this site? Hopefully we've got answers.</p>
        </div>

      </div>

    </div>
  </div>
</template>
