body {
  font-family: 'Open Sans', 'serif';
  color: #19223E;
}
.header-image{
  background-image: url("/images/book.jpg");
  background-size: cover;
  height: 180px;
}
.navbar{
  border-radius: 0px;
}
.navbar-inverse{
  background-color: #19223E;
}
.navbar-inverse .navbar-brand{
  color: #2ED5ED;
}
.text-muted{
  color: #19223E;
}
a{
  color: #2ED5ED;
}
.legend{
  color: #19223E;
}


.well {
  background-color: royalblue;
  text-align: center;

}
.well a{
  color: blue;
}

.well p{
  color: white;
}